form {
    padding: 50px 0;
}

input, select, button, textarea {
    background: #f1e441;
    border: 3px solid #555555/*#F13F06*/;
    padding: 5px;
    width: 100%;
    font: normal 16px monospace;
}

button {
    background-color: #555555/*#F13F06*/;
    color: #f1e441;
    margin: 10px 0;
}

.ingredient_quantity {
    width: 25%;
}

.ingredient_name {
    width: 70%;
}

button.small {
    width: initial;
}
