form {
    padding: 50px 0;
}

input, select, button, textarea {
    background: #333333;
    border: 3px solid #AAAAAA/*#F13F06*/;
    padding: 5px;
    margin: 5px;
    width: 100%;
    font: normal 16px monospace;
    color: #eeeeee;
    border-radius: 5px;
}

button {
    background-color: #AAAAAA/*#F13F06*/;
    color: #eeeeee;
    margin: 10px 0;
}

.ingredient_quantity {
    width: 25%;
}

.ingredient_name {
    width: 70%;
}

button.small {
    width: initial;
}


button.small, button.delete {
    width: initial;
}

button.delete {
    float: right;
}
