@import 'text.css';
@import 'form.css';

body {
    margin: 0;
    padding: 30px;
    font: 16px monospace;
    background-color: #111111;
    color: #eeeeee;
}

a {
    color: #aaaaaa;
}

div.back-to-home {
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    text-align: center;
}
div.back-to-home a {
    text-decoration: none;
    color: #111111;
    font: bold 26px monospace;
}

.add_field {
    background: #ffffff/*#F19208*/;
    color: #111111;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
}

hr {
    border: 3px #ffffff solid;
}
