span.type {
    border-radius: 5px;
    padding: 3px;
    margin-right: 5px;
    font-size: .8em;
}

span.type.boulange {background-color: #C16F2C;}
span.type.dessert {background-color: #C12C80;}
span.type.salty {background-color: #3194AB;}
span.type.salé {background-color: #3194AB;}
span.type.other {background-color: #727173;}
span.type.autre {background-color: #727173;}

ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}
li {
    padding: 10px 0;
    margin: 0;
}
