extends ../layout

block content

  include ../menu

  form(action='', method='POST')
    div
       input(placeholder='recipe name', input='text', name='recipe')
    div(class='ingredient_field')
       input(placeholder='quantity #1', input='text', name='ingredient_quantity[]', class='ingredient_quantity')
       input(placeholder='ingredient #1', input='text', name='ingredient_name[]', class='ingredient_name',)
    div(class='add_field') +
    div
        textarea(placeholder='description', rows=20, cols=70, type='text', name='description')
    div
      label(for='type') type
        span(class='add_type') [new]
        div
          select(name='type')
            - each type in types
              option #{type}
    div
      button(type=submit) submit
